:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  font-size: 13px;
}


body {
  background-color: var(--Light-Grayish-Blue);
  height: 100vh;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 1.7rem;
}

.title::first-letter {
  text-transform: capitalize;
}

.text {
  margin-top: 0px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
}

.targ {
  background-color: hsl(0, 0%, 100%);
  color: var(--Very-Dark-Grayish-Blue);
  font-family: 'Manrope', sans-serif;
  display: flex;
  border-radius: 12px 12px 12px 12px;
  height: 280px;
  width: 730px;
}

.drawers {
  height: 280px;
  width: 285px;
  border-radius: 12px 0px 0px 12px;
  object-fit: cover;
  object-position: left center;
}

.content {
  margin: 40px 40px 40px 32px;
}

.person {
  display: flex;
  flex-direction: row;
}

.profile-name {
  margin-left: 15px;
  text-transform: capitalize;
  align-self: center;
}

.name {
  margin-top: 0;
  margin-bottom: 5px;
}

.date {
  margin-top: 0;
  margin-bottom: 0;
}

.date {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  text-transform: capitalize;
}

.name {
  font-weight: 700;
}

.avatar {
  border-radius: 50%;
  height: 40px;
  width: auto;
  align-self: center;
}

.popup {
  width: 32px;
  height: 32px;
  margin-left: auto;
  align-self: center;
  background-color: var(--Light-Grayish-Blue);
  border-radius: 50%;
  cursor: pointer;
}

svg {
  margin: 9px;
}

.logo {
  display: block;
}

.popuptext {
  background-color: var(--Desaturated-Dark-Blue);
  width: 248px;
  height: 54px;
  border-radius: 8px;
  position: relative;
  bottom: 110px;
  right: 110px;
  display: flex;
  visibility: hidden;
  padding: 0px;
}

.popuptext::after {
  content: "";
  width: 22px;
  height: 10px;
  background-color: var(--Desaturated-Dark-Blue);
  position: absolute;
  top: 100%;
  left: 113px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.popuptext span {
  align-self: center;
}

.popuptext-share {
  color: var(--Grayish-Blue);
  text-transform: uppercase;
}

.popuptext ul {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.active {
  visibility: visible;
}

.attribution {
  text-align: center;
  font-size: 1.2rem;
}

.link {
  display: inline-block;
  padding: .3rem;
  background-color: var(--Light-Grayish-Blue)
}

.link:link,
.link:visited {
  text-decoration: none;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.link:link {
  background: white;
  color: blue;
  border-radius: 5px;
}

.link:visited {
  color: blue;
}

.link:hover {
  background: coral;
  color: white;
  border-radius: 5px;
}

.link:active {
  transform: scale(.9);
}



@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 656px;
  }

  .content {
    margin: 0px 32px 0px 32px;
    position: relative;
    bottom: 16px;
  }

  .container {
    width: 375px;
    height: 850px;
    margin: auto;
  }

  .title {
    margin-top: 40px;
    font-size: 1.2rem;
    line-height: 20px;
  }

  .text {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .targ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 327px;
    height: 512px;

  }

  .drawers {
    height: 200px;
    width: 327px;
    border-radius: 12px 12px 0px 0px;
    position: relative;
    bottom: 16px;
    display: block;
    margin-bottom: 0;
  }

  .popuptext {
    position: relative;
    bottom: 23px;
    right: 262px;
    width: 327px;
    height: 64px;
    z-index: 10;
  }

  .popuptext-share {
    color: var(--Grayish-Blue);
  }

  .popuptext ul {
    display: flex;
    justify-content: flex-start;
  }

  svg:hover {
    background-color: white;
    border-radius: 50px;
  }
}