:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

@media only screen and (max-width: 1440px) {
  body {
    background-color: var(--Light-Grayish-Blue);
    font-size: 13px;
    height: 100vh;
  }

  .container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 1.7em;
  }

  .text {
    margin-top: 0px;
    font-weight: 500;
    font-size: 1em;
    line-height: 19px;
  }

  .targ {
    background-color: hsl(0, 0%, 100%);
    color: var(--Very-Dark-Grayish-Blue);
    font-family: 'Manrope', sans-serif;
    display: flex;
    border-radius: 12px 12px 12px 12px;
    height: 280px;
    width: 730px;
  }

  .drawers {
    height: 280px;
    width: 285px;
    border-radius: 12px 0px 0px 12px;
  }

  .content {
    width: 400px;
    margin: 40px 40px 40px 32px;
  }

  .person {
    display: flex;
    flex-direction: row;
  }

  .profile-name {
    margin-left: 15px;
  }

  .date {
    display: flex;
    flex-direction: column;
  }

  .avatar {
    border-radius: 100px;
    height: 40px;
    width: auto;
  }

  .popup {
    width: 32px;
    height: 32px;
    margin: 0 0 0 auto;
    align-self: center;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  svg {
    padding: 18px;
  }

  .logo {
    display: block;
  }

  .popuptext {
    width: 50px;
    background-color: var(--Desaturated-Dark-Blue);
    width: 248px;
    height: 80px;
    border-radius: 8px;
    position: absolute;
    bottom: 140%;
    left: -250%;
    display: flex;
    visibility: hidden;
  }

  .popuptext span {
    align-self: center;
  }

  .popuptext ul {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
  }


  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .active {
    visibility: visible;
  }

  .attribution {
    text-align: center;
    font-size: 1.2em;
  }

  .link {
    display: inline-block;
    padding: .3em;
    background-color: var(--Light-Grayish-Blue)
  }

  .link:link,
  .link:visited {
    text-decoration: none;
  }

  .link:hover,
  .link:active {
    text-decoration: underline;
  }

  .link:link {
    background: white;
    color: blue;
    border-radius: 5px;
  }

  .link:visited {
    color: blue;
  }

  .link:hover {
    background: coral;
    color: white;
    border-radius: 5px;
  }

  .link:active {
    transform: scale(.9);
  }

}

@media only screen and (max-width: 920px) {
  html {
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 375px;
    height: 850px;
    size: 13px;
    margin: auto;
  }

  .targ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: 13px;

  }

  .drawers {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
  }

  .popuptext {
    position: absolute;
    bottom: -30px;
    left: -380px;
    width: 460px;
    height: 100px;
    z-index: -1;
  }

  .popuptext ul {
    display: flex;
    justify-content: flex-start;
  }

  .popup {
    position: relative;
    z-index: 1;
  }

  svg:hover {
    background-color: white;
    border-radius: 50px;
  }
}